[Unit]
Description=bung.rm_old_logs.service timer

[Timer]
OnCalendar=daily
Unit=bung.rm_old_logs.service
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=multi-user.target
