# Seagate BUP BK (4 TB USB3)
KERNEL=="sd*", ACTION=="add", ATTR{size}=="7814033408", ATTRS{serial}=="<redacted>", SYMLINK+="hotplug", RUN+="/usr/bin/hotplug_bu_launcher /usr/bin/hotplug_bu -c hotplug -u"
KERNEL=="sd*", ACTION=="change", ATTR{size}=="7814033408", ATTRS{serial}=="<redacted>", SYMLINK+="hotplug" 

# Seagate BUP Portable (5TB USB3)
KERNEL=="sd*", ACTION=="add", ATTR{size}=="9767538688", ATTRS{serial}=="<redacted>", SYMLINK+="hotplug", RUN+="/usr/bin/hotplug_bu_launcher /usr/bin/hotplug_bu -c hotplug -u"
KERNEL=="sd*", ACTION=="change", ATTR{size}=="9767538688", ATTRS{serial}=="<redacted>", SYMLINK+="hotplug" 

# Samsung SSD 870 (4TB USB3.1)
KERNEL=="sd*", ACTION=="add", ATTR{size}=="7814033408", ATTRS{model}=="SSD 870 QVO 4TB " SYMLINK+="hotplug", RUN+="/usr/bin/hotplug_bu_launcher /usr/bin/hotplug_bu -c hotplug -u"
KERNEL=="sd*", ACTION=="change", ATTR{size}=="7814033408", ATTRS{model}=="SSD 870 QVO 4TB " SYMLINK+="hotplug" 

# OnePlus 6T
SUBSYSTEM=="usb", ACTION=="add", ATTR{serial}=="<redacted>", RUN+="systemctl start bung@oneplus6t.service"

# Pixel 5a
SUBSYSTEM=="usb", ACTION=="add", ATTR{serial}=="<redacted>", RUN+="systemctl start bung@pixel5a.service"
