# mysql.sample.cnf
#
# Sample MySQL defaults-file for use with mysql_bu
#
# Format reference: http://dev.mysql.com/doc/refman/5.5/en/option-files.html

[client]
user=backup_user
password=super-secret
